.footer {
  background-color: $color-background-darker;
  padding: 10px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      display: flex;
      width: 100%;
      margin: 50px 0;
      z-index: 1;

      .logo {
        flex: 1;
        margin: auto;
        text-align: center;

        img {
          width: 150px;
          height: auto;
        }
      }

      .footer-contact {
        flex: 1;
        text-align: center;

        & > .title {
          font-size: 1.2rem;
          margin-bottom: 10px;
          color: $color-primary;
        }

        .phone,
        .email {
          font-size: 0.8rem;
          margin-bottom: 8px;

          a {
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $color-primary;
            }
          }
        }

        .address {
          & > p {
            margin: 0;
          }
          font-size: 0.8rem;
        }

        .social-Links {
          margin-top: 20px;

          a {
            margin-right: 10px;

            svg {
              width: 30px;
              height: auto;
              fill: $color-light;
              transition: all 0.3s ease-in-out;
            }

            &:hover svg {
              fill: $color-primary;
            }
          }
        }
      }

      .menu {
        flex: 1;
        text-align: center;

        & > .title {
          font-size: 1.2rem;
          margin-bottom: 10px;
          color: $color-primary;
        }

        .menu-links {
          display: flex;
          flex-direction: column;

          a {
            font-size: 0.8rem;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }

    .copyright {
      font-size: 0.7rem;
    }
  }
}
@media (max-width: 992px) {
  .footer {
    .container {
      .info {
        .logo {
          img {
            width: 100px;
          }
        }

        .footer-contact {
          .social-Links {
            svg {
              width: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .container {
      .info {
        flex-wrap: wrap;

        .logo {
          flex: 100%;
          margin-bottom: 20px;
        }

        .footer-contact {
          flex: 50%;
          margin-top: 20px;
        }

        .menu {
          flex: 50%;
          margin-top: 20px;
        }
      }
    }
  }
}
