$color-background-light: #fff;
$color-background-lighter: #ededed;
$color-background-dark: #191d28;
$color-background-darker: #161922;
$color-background-collapse: #141318;
$color-background-cart: #0c0d12cc;
$color-background-cart-active: #0c0d12cc;
$color-background-text: #ffffff87;
$color-background-text-2: #000000;
$color-dark: #131313;
$color-light: #fff;
$color-primary: #fed7a5;
$color-grey: #bfbfbf;

$color-error: #ff0000;
$color-success: #00ff00;

$font-size-normal: 1rem;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-super-bold: 900;

$font-title: "Montserrat", sans-serif;
$font-main: "Roboto Slab", serif;

$transition: all 0.3s ease-in-out;
